.map{
    height: 100%;
}
.toolbar-header{
    --background: #ec6d5f;
    --border-color: #ec6d5f ;
    --color: white;
}

.startTripButton{
    --background: #ec6d5f;
    --border-color: #ec6d5f ;
    --color: white;
}