<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Account</ion-title>
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-item class="field">
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>
    <ion-item class="field">
      <ion-label position="stacked" >Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
    <ion-item class="field">
      <ion-label position="stacked" >Phone Number</ion-label>
      <ion-input [(ngModel)]="phoneNumber" type="tel"></ion-input>
    </ion-item>
    <ion-button (click)="editAccount()" class="saveButton" shape="round" fill="outline">Save</ion-button>
       
</ion-content>