ion-input {
    width: 100%;
    height: 100%;
    background-color: #fad5d1;
    border-radius: 25px;
    /*adjust the size of the internal text box in the input bubble*/
    --padding-start: 15px;
    --padding-end: 15px;
  }
  .backArrow {
    font-size: 35px;
    position: absolute;
    color: white;
    top: 20px;
    left: 20px;
  
  }