<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first">
      </ion-menu-button>  
  </ion-buttons>
  <ion-tittle>Profile</ion-tittle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;" >
    <ion-avatar style="margin-left:47%;">
      <img  src="/assets/img/photo.jpg">
    </ion-avatar>
    <h4>Doraemon</h4>
    <ion-grid>
      <ion-row>
        <ion-col>
 
          <h6>Trips</h6>  <P>274</P>
        </ion-col>
        <ion-col>
          <h6>Rating</h6>  <P>3.9 <ion-icon name="star"></ion-icon></P>
        </ion-col>
        <ion-col>
          <h6>Year</h6> <P>2</P>      
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list>
    <ion-item>
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call"></ion-icon>
      <ion-label>647-666-6666</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="location"></ion-icon>
      <ion-label>Algonquin college</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="car"></ion-icon>
      <ion-label>mercedes-c300</ion-label>
    </ion-item>
    <img src="/assets/img/option1.png">
  </ion-list>
</ion-content>
